.guess-validator {
  display: grid;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.validator-border {
  border: #095256 solid 1px;
}

.correct {
  background-color: #2a9d8f;
}

.almost {
  background-color: #e9c46a;
}

.incorrect {
  background-color: #264653;
}
