.guess-validator {
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: #095256 solid 2px;;
}

.validator-square {
  outline: #095256 solid 1px;
  width: 2.5vw;
}

.correct {
  background-color: #02ff06;
}

.almost {
  background-color: #ffff00;
}

.incorrect {
  background-color: rgb(220, 239, 246);
}
