.game-board {
  outline: #095256 solid 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
