.game-board {
  height: 25rem;
  border: #095256 solid 3px;
  display: grid;
  grid-template-columns: repeat(10, 5rem);
  grid-row: "board";
  justify-self: center;
}
.game-container {
  display: grid;
  grid-template-areas:
    "controls"
    "board";
}
