.game-board {
  height: 25rem;
  border: #095256 solid 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.game-container {
  display: grid;
  justify-content: center;
}
