.guess-entry {
  background-color: darkorchid;
  text-align: center;
}

.guess-entry {
  border: #095256 solid 1px;
}

.r {
  background-color: #ffc09f;
}

.b {
  background-color: #79addc;
}

.g {
  background-color: #adf7b6;
}

.y {
  background-color: #ffee93;
}
