.guess-entry {
  background-color: whitesmoke;
  text-align: center;
  width: 5vw;
  height: 5vw;
}

.guess-entry {
  outline: #095256 solid 1px;
}

.Q {
  background-color: #f48973;
}
.W {
  background-color: #ffb15d;
}
.E {
  background-color: #fffbb5;
}

.R {
  background-color: #c1ffbe;
}

.T {
  background-color: #98a0f0;
}

.Y {
  background-color: #cf7ddd;
}
