.guess-entry {
  background-color: whitesmoke;
  text-align: center;
  width: 5vw;
  height: 5vw;
}

.guess-entry {
  outline: #095256 solid 1px;
}

.Q {
  background-color: #f27a63;
}
.W {
  background-color: #ff982b;
}
.E {
  background-color: #fef445;
}

.R {
  background-color: #8fd14f;
}

.T {
  background-color: #414bb2;
}

.Y {
  background-color: #9510ac;
}
