.color-select-display {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  height: 5vw;
  margin-bottom: 2vw;
  width: fit-content;
}

.color-select-square {
  width: 5vw;
  margin: 0.3vw;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.color-select-square:nth-child(n + 1) {
  background-color: #f48973;
}
.color-select-square:nth-child(n + 2) {
  background-color: #ffb15d;
}
.color-select-square:nth-child(n + 3) {
  background-color: #fffbb5;
}
.color-select-square:nth-child(n + 4) {
  background-color: #c1ffbe;
}
.color-select-square:nth-child(n + 5) {
  background-color: #98a0f0;
}
.color-select-square:nth-child(n + 6) {
  background-color: #cf7ddd;
}
.entry-controls {
  display: grid;
  margin: 0.3vw;
}

.entry {
  margin-bottom: 0.15vw;
  background-color: lightgreen;
}
.delete{ 
  margin-top: 0.15vw;
  background-color: lightcoral;
}